/* главный цвет фона background: #E5E5E5; */
/* вторичный цвет фона background: #F5F4FA;
 */
/* цвет футера color: #2F303A */
/* цвет основной текста Р color: #757575;*/
/* цвет текста Н1-Р3 color:#212121 ;*/
/* белый цвет текста color: #FFFFFF;
 */
/*  акцент синий цвет текста color: #2196F3 */
/* цвет кнопки заказать услугу background: #188CE8;
 */
/* цвет футера тел и эмейл color: #FFFFFF99;
 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-color-hf: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --link-services-color: #188ce8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

body {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 00.03em;
  background-color: var(--primary-white-color);
}

/* header */
.header-nav-menu .current {
  color: var(--accent-color);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-logo-studio {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-black-color);
}
.header-nav-menu-link:hover,
.header-nav-menu-link:focus {
  color: var(--accent-color);
}

.header-contact-mailto:hover,
.header-contact-mailto:focus {
  color: var(--accent-color);
}

.header-contact-tel:hover,
.header-contact-tel:focus {
  color: var(--accent-color);
}

.header-nav-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* end header */

/* title webstudio*/
.title {
  background: var(--primary-color-hf);
}

.title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

.button.primery {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
}

.button.primery:hover,
.button.primery:focus {
  background-color: var(--link-services-color);
}

.button.secondary {
  font-family: inherit;
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* end title */

/* features */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}
/* end features */

/* direction */
.direction-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/* end direction */

/* team */
.section-team {
  background-color: var(--secondary-bg-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.team-expert {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-specialty {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* end team */

/* footer */
.footer {
  background: var(--primary-color-hf);
}

.footer .a {
  font-style: normal;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-logo-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
}

.footer-address-item a:hover,
.footer-address-item a:focus {
  color: var(--accent-color);
}
.footer-address-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
}

.footer-address-mailto,
.footer-address-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-address-color);
}
/* end footer */

/* portfolio filtr */
.filtr-btn:hover,
.filtr-btn:focus {
  background: var(--link-services-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.filtr-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}
/* end portfolio filtr */

/* portfolio service */
.service-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.service-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* end portfolio service */
